<!DOCTYPE HTML>
<html>

<head>
	<script type="text/javascript">
	window.onload = function () {
		var chart = new CanvasJS.Chart("powerCurveContainer",
		{
			zoomEnabled: true,
			title:{
				text: "Power CUrve: 100,000 Data Points"
				},
				animationEnabled: true,
				axisX:{
					labelAngel: 30
				},
				axisY:{
					includeZero: false
				},
				
				data: data //random generator below
			});
			
			chart.render();
		}
		
		var limit = 100000; //increase number of data Points by increasing this
		
		var y = 0;
		var data = []; var dataSeries = { type: "line" };
		var dataPoints = [];
		for (var i = 0; i < limit; i += 1) {
			y += (Math.random() * 10 - 5);
			dataPoints.push({
				x: i - limit / 2,
				y: y
			});
		}
		dataSeries.dataPoints = dataPoints;
		data.push(dataSeries);
		
		</script>
		
		<script type="text/javascript" src="/lib/canvasJS/canvasjs.min.js"></script></head>
			<body>
				<div id="powerCurveContainer" class="powerCurveContainer" >
			</div>
		</body>
		</html>
		
		
		
		
				