<!doctype html>


<script type="text/javascript" src="/javascripts/guage.js"></script>


 		<span id="currentGaugeContainer"></span>
		<span id="voltageGaugeContainer"></span>
		<span id="powerGaugeContainer"></span>
		<span id="rpmGaugeContainer"></span>


   
   <script>
  // function guageInit() {
  console.log('update nothing ');

	createGauge("voltage", "Voltage", "mV", 0, 15000);
	createGauge("current", "Current", "mA", 0, 1300);
	createGauge("rpm", "RPM", "rpm", 0, 8000);
	createGauge("power", "Power", "mW", 0, 3000);

   
console.log('update nothing ');

var dataItem;

				
	function handleGuageData(data) {
		//			console.log('gauge update ' + data);
		dataItem = JSON.parse(data);
			//		console.log('updateData rpm ' + dataItem.rpm);

				// var realRPM = Math.floor(((dataItem.rpm * 3.3)/1024)*1000); //*666.667);
				
				// var realRPM = Math.floor(dataItem.rpm /1000);

		updateGauge("current", dataItem.current);
		updateGauge("voltage", dataItem.voltage);
		updateGauge("rpm", Math.floor(dataItem.rpm / 1000));
		updateGauge("power", dataItem.power);
			 
	};
	//		});

	
//	}
	dataSocket.on('updateData', handleGuageData );

	   </script>
	   </body>
</html>
